Adafruit-GPIO==1.0.3
Adafruit-MotorHAT==1.4.0
Adafruit-PureIO==0.2.3
bottle==0.12.13
certifi==2018.10.15
chardet==3.0.4
Click==7.0
Flask==1.0.2
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.0
numpy==1.15.4
opencv-contrib-python==3.4.3.18
prometheus-client==0.4.2
requests==2.20.1
urllib3==1.24.1
Werkzeug==0.14.1
