<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <style>
        .smaller {
            font-size: smaller;
        }

        .critical {
            text-decoration: line-through;
        }
    </style>
    <script>
        function shutdown() {
            var pw = prompt("Confirm shutdown:");
            location.replace("http://{{ hostname }}{{ home_port }}/shutdown-host?pw="+pw); // shutdown
        }
    </script>
</head>

<body>
    <h1>Home</h1>
    <ul>
        {% for service in services %}
        <h2>{{service.name}}</h2>
        {% for node in service.nodes %}
        <li>
            <span class="{{ service.status[node.Node] }}">
                {% if 'frontend' in service.tags %}
                <a href="http://{{ node.Node }}.node.consul:{{ node.ServicePort}}">
                    {{ node.Node }}</a>
                {% else %}
                {{ node.Node }}
                {% endif %}
            </span>
            <span class="smaller">
                {{ node.ServicePort }} {{node.ServiceTags | join(", ")}} (
                {%- if 'frontend' in service.tags -%}
                <a href="http://{{ node.Address }}:{{ node.ServicePort }}">ip</a>,
                {% endif -%}
                <a href="http://{{ node.Address }}{{ home_port }}/start?service={{ node.ServiceName }}">start</a>,
                <a href="http://{{ node.Address }}{{ home_port }}/restart?service={{ node.ServiceName }}">restart</a>,
                <a href="http://{{ node.Address }}{{ home_port }}/stop?service={{ node.ServiceName }}">stop</a>)
            </span>
        </li>
        {% endfor %}
        {% endfor %}
    </ul>
    <hr />
    <div class="smaller">(running on {{hostname}} -
        <a href="http://{{ hostname }}{{ home_port }}/restart-host">reboot</a>)
    </div>
    <div class="smaller">(running on {{hostname}} -
        <a href="#shutdown" onclick="shutdown()">shutdown</a>)
    </div>
</body>

</html>